<div class="background">

</div>
<div class="container">
  <ul>
    {{#each sentences}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
</div>
<a href="/info" class="info">
  <i class="material-icons md-36">info</i>
</a>
<!-- <footer></footer> -->
