*{
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  color: #333;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
}
html, body{
  margin: 0;
  padding: 0;
}
.container{
  margin: 0 auto;
  max-width: 800px;
  padding: 10px;
}
h1{
  border-bottom: 1px solid #eee;
  line-height: 1.8;
  margin: 0;
}
h1,h2{
  text-align: center;
}
